body {
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}

/* 50px navbar height */
.pageContainer {
  min-height: calc(100vh - 50px);
  display: flex;
}

/* this import is needed so react-native-paper icons are visible */
@font-face {
  font-family: MaterialCommunityIcons;
  src: url("./../../../node_modules/react-native-vector-icons/Fonts/MaterialCommunityIcons.ttf");
}
