body {
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}

/* 50px navbar height */
.pageContainer {
  min-height: calc(100vh - 50px);
  display: flex;
}
