.container {
  height: 50px;
}
.list {
  list-style: none;
  display: flex;
  gap: 16px;
}
.listItem {
  font-weight: normal;
}
.listItem.active {
  /* font-weight: bold; */
}
.listItem.active .anchor {
  text-decoration: underline;
}
.listItem:hover .anchor {
  opacity: 0.8;
  cursor: pointer;
}
.anchor {
  text-decoration: none;
}
