.container {
  /* height: 50px; */
}
.list {
  list-style: none;
  display: flex;
  padding-left: 16px;
}

.listMobile {
  justify-content: space-around;
  padding-left: 0;
}

.listItem {
  font-weight: normal;
  padding: 2px 16px;
  border-radius: 50px;
}

.listItem:hover .anchor {
  opacity: 0.8;
  cursor: pointer;
}
.anchor {
  text-decoration: none;
}
